// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

body, html {
  background: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

main { height: 100%; }


main svg {
  height: 14vh;
  width: 14vw;

  transform: translateX(25%) translateY(50%);

  path {
    -webkit-backface-visibility: hidden;
    fill: #232323;
    stroke: #fafafa;
    max-width: 100%;
    max-height: 100%;
    display: block;

    transform: scale(2);
  }
}

aside {
  display: none;
}