// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

body {
  margin: 2vw;
  background: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#Layer_2 {
  fill: #252525;
  stroke: #fafafa;
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;

  text {
    fill: #f0f;
    stroke: #252525;
  }
}