// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

body {
  margin: 0;
  background: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#nobodywrites g, #Layer_1 path {
  fill: #252525;
  stroke: #fafafa;
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;

  path {
    fill: #252525;
  }
}